.rowHover:hover {
    cursor: pointer;
    background-color: #ffffe0;
}

table tr:nth-child(odd)	{
    background-color: #ffffff;
}

table tr:nth-child(even) {
    background-color: #f1f1f1;
}

td {
    color: #00008b;
}

a:hover {
    text-decoration: none
}

a:visited {
    text-decoration: none
}